html,
body * {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.title {
  font-weight: bold;
}
/*

.centered-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}
*/
